<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="OffLeash">
    
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Bbi2S3kDtm8HvRW4DxX1qN3VVf5iUsE&libraries=places" async defer></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    @RenderSection("scripts", required: false)
</body>
</html>
